.site-footer
{
  width: 100%;
  font-size:15px;
  border-top: 2px solid #000;
  padding: 10px;
  position: absolute;
  max-height: fit-content;
  min-height: fit-content;
  bottom: 0px;
}

.site-footer hr
{
  opacity:0.5
}

.site-footer h6
{
  color:#000;
  font-size:16px;
  text-transform:uppercase;
  letter-spacing:2px;
}
.site-footer a
{
  color:#000;
}
.site-footer a:hover
{
  color:#000;
  text-decoration:none;
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text .site-footer
  {
    text-align:center
  }
}