.logo{
  height: 20px;
  width: 20px;
}

/* .top-nav {
  display: flex;
  border-bottom: 3px solid;
}

.top-nav > * {
  float: left;
  text-align: center;
}

.top-nav > img {
  width: 60px;
  height: 60px;
  animation: rotation 40s infinite linear;
  padding: 5px;
}

.nav-items {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2res;
}

.nav-link{
  color: #000;
  font-size:16px;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:2px;
  text-decoration: none;
  padding: .5rem 1rem;
}

.nav-link:hover{
  background-color: #50f69b;
  border-radius: 4px;
  transition: all .5s ease;
}

.nav-item-image {
  width: 150px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */
